# IDE configs
.vscode
.idea
.vimrc
.gdbinit

# Prerequisites
*.d

# Object files
obj
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
test_s21_math
coverage_s21_math

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Coverage report files
coverage_info
*.gcno
*.gcda
*.info

.*.swp

# Specific MacOS files
.DS_store
